*, *::before, *::after {
    box-sizing:border-box;
} 

body {
    background-color:hsl(233, 47%, 7%);
    color:hsl(0, 0%, 100%);
    font-family: 'Inter', sans-serif;
    font-size: 15px;
}

body, h3 {
    margin:0;
}

.card {
    background-color: hsl(244, 38%, 16%);
    display:flex;
    flex-direction: column;
    text-align: center;
    padding-bottom:1em;
    margin:2.5em 1em;
    border-radius: 10px;
    overflow: hidden;
}

.img, img {
    width: 100%;
}

img {
    filter: opacity(0.5) drop-shadow(0 0 0 hsl(277, 64%, 61%));
    display:block;
}

.top-container {
    margin:1.5em 3em;
}

span {
    color:hsl(277, 64%, 61%);
}

p{
    color:hsla(0, 0%, 100%, 0.75); 
    line-height:150%;
}

.data {
    font-family: 'Lexend Deca', sans-serif;
    text-transform: uppercase;
}

.stat-headings {
    color:hsla(0, 0%, 100%, 0.6);
    margin-top:0.5em;
    margin-bottom:1.5em;
}

/*   responsive design       */

@media(min-width:550px){
    .card {
        flex-direction: row;
        margin:7em 6em;
        align-items: center;
        text-align: left;
        padding-bottom:0;
    }

    .container {
        order:-1;

    }

    .bottom-container {
        display:flex;
        flex-direction: row;
        justify-content: space-around;
    }

}
